.view-screen {
    height:100vh;
    padding:30% 4% 1% 4%;
    display:flex;
    flex-direction:column;
    background-color:rgba(0,0,0,0.04);
  }

.view-screen__subtitle {
    display:flex;
    justify-content:space-between;
    color:rgba(0,0,0,0.6);
    font-size:13px;
}

.view-screen__my-view {
    display:flex;
    align-items:center;
}

.view-screen__my-view i {
    margin-left:5px;
    opacity:0.7;
}

.view__divider {
    width:1px;
    height:13px;
    background-color:rgba(0,0,0,0.3);
    margin:0px 6px;
}

.view-screen__content {
    margin-top:15px;
    background-color:white;
    border-radius:13px;
    padding:3%;
    display:flex;
    flex-direction:column;
}

.view-screen__content-from {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:12px;
}

.view-screen__content-from-info {
    display:flex;
    align-items:center;
}

.view-screen__content-from-img img {
    width:29px;
    height:29px;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:14px;
    margin-right:8px;
}

.view-screen__content-from-name {
    font-size:12px;
    margin:-5px 0px 3px 0px;
}

.view-screen__content-from-day {
    font-size:10px;
}

.view-screen__content-from-more {
    opacity:0.4;
}

.view-screen__content-title {
    font-size:18px;
    margin-bottom:13px;
}

.view-screen__content-subtitle {
    font-size:14px;
    padding-bottom:11px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    margin-bottom:10px;
}

.view-screen__content-img img {
    width:100%;
    height:200px;
    border-radius:10px;
    margin-bottom:5px;
}

.view-screen__content-main {
    font-size:14px;
    margin-bottom:5px;
}

.view-screen__content-main-f a {
    font-size:14px;
    margin-bottom:15px;
    display:flex;
    justify-content:space-between;
}

.view-screen__content-link {
    opacity:0.4;
    font-size:11px;
    margin-bottom:25px;
}

.view-screen__content-link i ,
.view-screen__content-main-f i {
    padding:2px;
    border-radius:50%;
    color:white;
    background-color:rgba(0,0,0,0.3);
    margin-right:4px;
    opacity:0.4;
    font-size:11px;
}

.view-screen__content-more {
    display:flex;
    justify-content:flex-end;
    opacity:0.6;
    font-size:12px;
    align-items:center;
    margin-bottom:15px;
}

.view-screen__content-more i {
    opacity:0.4;
    margin:0px 5px;
}

.view-screen__content-option {
    display:flex;
    border-top:1px solid rgba(0,0,0,0.1);
    padding-top:10px;
}

.view-screen__content-option-btn {
    width:50%;
    display:flex;
    justify-content:center;
    font-size:12px;
}

.view-screen__content-option-btn i {
    margin-right:5px;
}

.view__myview-btn i {
    color:tomato;
}

.view__find-btn i {
    color:black;
}

.view-screen__option {
    display:flex;
    align-items:center;
}

.view-screen__option-btn {
    background-color:white;
    padding:5px 8px;
    border-radius:15px;
    font-size:13px;
    border:0.5px solid rgba(0,0,0,0.1);
    margin-right:10px;
}

.view-screen__content__tv-title {
    font-size:15px;
    font-weight:400;
}

.view-screen__content__tv {
    display:flex;
}

.view-screen__content__tv-title {
    margin-bottom:10px;
}

.view-screen__content__tv-img {
    position:relative;
}

.view-screen__content__tv-img img {
    width:130px;
    height:170px;
    border-radius:10px;
    margin-right:8px;
}

.view-screen__content__tv-img i {
    position:absolute;
    color:white;
    left:10px;
    top:10px;
}
