.badge {
    width:15px;
    height:15px;
    background-color:#FF6129;
    border-radius:50%;
    color:white;
    font-size:12px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.badge-none {
    width:15px;
    height:15px;
}

.badge-dot {
    width:4px;
    height:4px;
    background-color:#FF6129;
    border-radius:50%;
}

.badge-me {
    width:15px;
    height:15px;
    background-color:black;
    border-radius:50%;
    color:white;
    font-size:9px;
    font-weight:600;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:0;
}